

.script-text {
    font-family: cursive;
    
}


.clickme {
    text-align: center;
    font-size: 2em;

}


.clickme button {
    border: 2px solid yellow;

}


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color:rgb(0, 0, 0);
    padding: 20px;
    color: white;
    text-align: center;

}


a {
    display: block;
    font-size: 1.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 4px;
    margin-bottom: 8px;
    text-decoration: none;
    text-shadow: 2px 2px 8px magenta;
    border: 2px solid magenta;
    border-style: dotted;
    border-radius: 20px;

}


.link-container {
    border: 2px solid greenyellow;
    border-radius: 20px;
    width: 100%;
    margin: 10px;
    padding: 2px;
}


.left, .right {
    
    
}





@media screen and (min-width: 768px) {
    body {
        background-color:
    }

    .link-container {
        display: flex;
        width: 100%;
    }

    .left, .right {
        width: 50%;
    }

}


@media screen and (min-width: 1400px) {
    body {
        background-color: yellow;
        font-size: 2em;
    }
}