body {
  background-color: yellow;
  font-weight: bolder;
  font-size: xx-large;
  letter-spacing: 3px;
  margin: 999px 0px 999px 0px;

}

h1 {
  position: absolute;
  margin-top: -1000px;
  text-align: left;
}