body {
  background-color: yellow;
  font-family: monospace;
  font-weight: bolder;
  font-size: xx-large;
  letter-spacing: 3px;
  margin: 100px 80px 100px 80px;
  height: 1200px;

}

h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 40vh;
}

small {
  visibility: hidden;
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  color: yellow;
  text-shadow: 4px 4px 2px black;
}

.test {
  visibility: visible;
  position: fixed;
  top: 10vh;
}




/* .animate__hinge {
  animation-delay: 1s;

} */