.demo {
  
}


body {
  background-color: beige;
  font-family: monospace;
  font-weight: bolder;
  font-size: xx-large;
  letter-spacing: 0;
  margin: 20px;
  height: 1200px;
  overflow: auto;

}


h1 {
  text-align: left;
  font-size: medium;
}

div {
  font-size:;
}