body {
background-color: lightblue;
border: 10px dotted red;
}

a {

color: blue;
font-size: 50px;
text-shadow: 2px 2px 10px yellow;
text-decoration: none;
border-bottom: 12px solid blueviolet;
/*line-height: 50px;*/
padding: 20px;
margin-bottom: 40px;


}

.ink {
  background-color: cornsilk;
  border: 6px dotted black;
  padding: 80px;
}

.pen-style {
  border-color: pink;
  padding: 20px;
}


p {
  padding: 40px;

  margin-bottom: 40px;
  display: inline;
}

.block {
  display: block;
  font-size: medium;
  text-align: center;
  text-shadow: none;
  color: rgb(173, 25, 202);
  text-decoration: line-through;
  padding: .05px;
  border-color: blueviolet;
  border-style: double;
  border-style: dotted;
  border-width: 20px;

}

.systems{
  position: relative;
  top: 20px;
  left:100px;
  border:3px solid green;
  margin-top:30px;
  padding: 40px;
}
.sy{
  color:hotpink;
  position:absolute;
  top:30%;
  bottom:70%;
  right:50%;
  left:20%;
}